<?xml version="1.0" ?>
<robot name='moving box'>
  <link name='box_link'>
    <visual name='box_visual'>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length= "1.0" radius="0.5" />
      </geometry>
      <material name="Magenta">
        <color rgba="1.0 0.0 1.0 1.0"/>
      </material>
    </visual>
  </link>
  <gazebo>
    <static> false </static>
  </gazebo>
</robot>
